@{
    ViewData["Title"] = "Home page";
    ViewData["Linkedin"] = "https://www.linkedin.com/in/brnatajose/";
    ViewData["GitHub"] = "https://github.com/brnatajose";
    ViewData["Email"] = "mailto:brnatajose@gmail.com";
}

<div class="text-center">
    <h1 class="display-4">Natã José Ferreira de Morais</h1>
    <h2>Desenvolvedor .NET e UX Designer </h2>
    <div class="d-flex justify-content-center gap-3 fa-3x">
        <a href="@ViewData["Linkedin"]" target="_blank"><i class="fa fa-linkedin icons"></i></a>
        <a href="@ViewData["GitHub"]" target="_blank" style="color: black"><i class="fa fa-github icons"></i></a>
        <a href="@ViewData["Email"]" target="_blank" style="color: lightseagreen"><i class="fa fa-envelope icons"></i></a>
    </div>

</div>
